body, html{
  background-image: url("images/xo.jpg");
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-size: cover;
  scroll-behavior: smooth;
}

.parallax{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.parallax__group{
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }

.parallax__group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  }

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
  }

#ardopic{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50%;
}
#ardopix{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20%;
}

#header{
  display: center;
  color: transparent;
  font-size: 15vw;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  -webkit-text-stroke: 1px white;
  letter-spacing: 10px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.typo{
  font-family: 'Patua One', cursive;
  font-size: 7em;
  color: transparent;
  margin: -10px;
  padding: 1%;
  text-align: center;
  -webkit-text-stroke: 2px white;
}

#backbutton{
  bottom: 5%;
  right: 2%;
  position: fixed;
  border: none;
  outline: none;
  font-size: 30px;
  color: white;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}
#menu_button{
  top: 5%;
  right: 2%;
  position: fixed;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  z-index: auto;
  font-size: 25px;
  display: none;
}

.nav_container{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}
.nav_content{
  top: 10%;
  margin-top: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.nav_content a {
  font-family: 'Kanit', sans-serif;
  font-size: 5em;
  text-decoration: none;
  color: transparent;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px white;
}
.nav_container a:hover, .nav_container a:focus {
  color: white;
}

.nav_container .closeNav {
  position: absolute;
  right: 20px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  z-index: auto;
}
