body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.headline_section{
  height: 100vh;
  background-image: url("images/art_header.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.headline{
  line-height:  1.8em;
  position: absolute;
  width: 100%;
  font-weight: bolder;
  font-size: 10em;
  text-align: center;
  color: white;
  font-size: 20em;
  letter-spacing: 30px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.section{
  padding: 100px 10px;
  background-color: white;
}
.introduction_section{
  margin: auto;
  font-size: 4em;
  text-align: center;
  font-size: bolder;
}
p{
  font-family: 'Montserrat', sans-serif;
}

#back_button{
  display: none;
  font-size: 2.5em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: rgb(30, 30, 30);
  cursor: pointer;
  border: none;
  outline: none;
  z-index: auto;
}

img{
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  max-width: 300px;
  padding: 5px;
}

.nav_container{
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 0%;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}
.nav_content{
  top: 10%;
  margin-top: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.nav_content a {
  font-family: 'Kanit', sans-serif;
  font-size: 5em;
  text-decoration: none;
  color: transparent;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px white;
}
.nav_container a:hover {
  color: white;
}
.nav_container .close_menu_button {
  position: absolute;
  right: 20px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#open_menu_button{
  position:fixed;
  color: rgb(30, 30, 30);
  top:20px;
  right:20px;
  background-color:transparent;
  cursor:pointer;
  border:none;
  font-size: 2em;
  outline:none;
  z-index: 1;
}

#modalpic:hover, #modalpic:focus{
  opacity: 0.7;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.modal_content{
  align-items: center;
  margin: auto;
  display: block;
  width: 60%;
  max-width: 600px;
  animation: zoom;
  animation-duration: 0.6s;
}
#caption {/*caption of modal image - same witdh as image*/
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

@keyframes zoom{
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.clsoe:hover, .close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@@media only scrren and (max-width: 600px) {
  .modal_content{
    width: 100%;
  }
}
