body, html{
  height: 100%;
  margin: 0;
  line-height:  1.8em;
  color: #666;
  scroll-behavior: smooth;
}

.head_pic{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.head_pic{
  background-image: url("images/art_header.jpg");
  height: 100%;
}
.head_text{
  position: absolute;
  top: 50%;
  width: 100%;
  font-weight: bolder;
  font-size: 10em;
  text-align: center;
  color: white;
  font-size: 10em;
  letter-spacing: 8px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}
.section{
  text-align: center;
  padding: 50px 80px;
}
.section-light{
  background-color: #f4f4f4;
  color: #666;
}
#back_button{
  font-size: 50vw;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
}
