body{
background-color: rgb(8,8,8);
height: 100%;
margin: 0;
padding: 0;
}

#header{
  color: transparent;
  font-size: 10em;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  letter-spacing: 15px;
  animation: glitch 1s steps(100) infinite;
  margin-bottom: 0;
  -webkit-text-stroke: 2px white;
}

@keyframes glitch {

  0% {text-shadow: 100px 200px 0px rgb(255, 255, 255), -100px -200px 0px rgb(255, 255, 255);}
  5% {text-shadow: 10px 100px 0px rgb(255,20,175), -10px -100px -50px rgb(20,255,100);}
  10% {text-shadow: 1px 1px 0px rgb(100,20,255), -1px -1px 0px rgb(255,100,20);}
  15% {text-shadow: 50px 20px 0px rgb(218, 20, 255), -50px -20px 0px rgb(57, 255, 20);}
  20% {text-shadow: 1px 5px 10px rgb(255,20,175), -1px -50px -10px rgb(20,255,100);}
  25% {text-shadow: 10px 5px 2px rgb(100,20,255), -10px -5px 10px rgb(255,100,20);}
  30% {text-shadow: 50px 2px 10px rgb(218, 20, 255), -50px 2px 10px rgb(57, 255, 20);}
  35% {text-shadow: 5px 2px 10px rgb(254,0,0), -5px -2px 10px rgb(254,0,0);}
  40% {text-shadow: 1000px 10px 10px rgb(11,255,1), -1px -1px 10px rgb(11,255,1);}
  45% {text-shadow: 50px 20px 100px rgb(1,30,254), -50px 20px 100px rgb(1,30,254);}
  100% {text-shadow: 10px 10px 5000px rgb(255,20,175), -10px -10px 5000px rgb(20,255,100);}

}

.nav_container{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}
.nav_content{
  top: 10%;
  margin-top: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.nav_content a {
  font-family: 'Kanit', sans-serif;
  font-size: 5em;
  text-decoration: none;
  color: transparent;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px white;
}
.nav_container a:hover {
  color: white;
}

.nav_container .closeBtn {
  position: absolute;
  right: 20px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
p{
  color: white;
  text-align: center;
  letter-spacing: 30px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}
#menu_button{
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 30px;
  outline: none;
  letter-spacing: 15px;
}
.linkIcon{
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 20px;
}
.linkInsta{
  font-size: 31px;
  width: 31px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 22px;
}
.linkIcon:hover{
  opacity: 0.7;
}
.linkInsta:hover{
  opacity: 0.7;
}
.section {
  margin-top: 7.25%;
  margin-bottom: 0;
  text-align: center;
}
