body{
  background-color: rgb(16, 16, 16);
  margin: 0;
  padding: 0;
}
h1{
  color: white;
  font-size: 10em;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  animation: glitch 0.5s steps(100) infinite;
}

@keyframes glitch {
  0% {text-shadow: 5px 0 0 red, -5px 0 0 blue;}
  25% {text-shadow: 1px 0 0 pink, -10px 0 0 red;}
  50% {text-shadow: -10px 0 0 yellow, 10px 0 0 violet;}
  75% {text-shadow: 50px 0 0 orange, -50px 0 0 purple;}
  100% {text-shadow: 0.5px 0 0 green, -0.5px 0 0 blue;}
}
